body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4DAAF5;
}

.login{
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
}

.login h2{
    text-align: center;
    margin-bottom: 20px;
}

table{
    width: 100%;
}

td{
    padding: 8px;
}

input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a{
    display: block;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover{
    background-color: #0056b3;
}

.or{
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #555;
}

.social_login button{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    
}

.google{
    background-color: #db4437;
}

.facebook{
    background-color: #3b5998;
}

.social_login button:hover{
    opacity: 0.9;
}
